$icon-font-path: "../components/bootstrap-sass/assets/fonts/bootstrap/";
$greentheme: #588c7e;
$yellowtheme: #f2e394;
$orangetheme: #f2a372;
$redtheme: #d96459;
$darkredtheme: #8c4646;

@import '../components/bootstrap-sass/assets/stylesheets/bootstrap';

.featurette-image {
    font-size: 200px;
}

.featurette-container {
    text-align: center;
}

footer {
    bottom: 0px;
    
    * {
        width: 100%;
        text-align: center;
    }
    
    p {
        margin: 15px auto;
    }
}

#notify {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    min-width: 200px;
    max-width: 50%;
}